$blue: #83a598;
$green: #b8bb26;
$aqua: #8ec07c;
$red: #fb4934;
$orange: #fe8019;
$purple: #d3869b;
$brown: #d65d0e;
$light: #fbf1c7;
$dark: #282828;
$main: $blue;

.musicbox {
  margin-left: 10px;
}

.workspaces {
  min-width: 50px;
}

.sidestuffs {
  padding-left: 10px;
  padding-right: 10px;
}

.connect_text {
  margin-right: 10px;
  margin-left: 10px;
}

.bar {
  font-size: 15;
  background-color: $main;
  color: $dark;
}

.blk {
  color: $dark;
}

.workspaces {
  background-color: $dark;
  border-radius: 7;
}

.wrkbtn {
  background-color: $main;
  color: $dark;
  padding-left: 5px;
  padding-right: 5px;
}

.timecontainer {
  background-color: $dark;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3;
}

.timebutton {
  background-color: $main;
  color: $dark;
}

// powermenu

.battery_bar>trough {
  min-width: 30px;
}

.battery_bar>trough>progress {
  min-width: 30px;
}

// volumebox

.volbox {
  color: rgba(0, 0, 0, 0.0);
}

.percent {
  color: $light;
}

.volbar>trough>progress {
  min-height: 30px;
  background-color: #FFFFFF;
}

.volbar>trough {
  min-height: 30px;
  background-color: rgba(0, 0, 0, 0.0);
}